spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bip
    username: bip
    password: bip
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
server:
  port: 8080
